<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <adaptiveRules>
      <macros type="Sitecore.Strategy.Adaptive.Config.MacroConfiguration, Sitecore.Strategy.Adaptive">
        <selectors hint="list:AddMacroSelectorConfig">
          <!-- 
            This configuration only applies to dependency items 
            based on the template "Adaptive Test With Type" 
           -->
          <adaptiveTestWithTypeTemplate type="Sitecore.Strategy.Adaptive.Config.TemplateBasedMacroSelectorConfig, Sitecore.Strategy.Adaptive">
            <templateId>{91D5176B-546B-4C75-A40C-553A47CD6427}</templateId>
            <operatorSelectors hint="list:AddOperatorSelector">
              <!-- 
                If the dependency item has children then use a tree macro 
                that displays the children of the item identified by the 
                property "operatorsFolderId"
               -->
              <selectFromChildren type="Sitecore.Strategy.Adaptive.MacroSelectors.ItemBased.Operators.FromChildrenOperatorSelector, Sitecore.Strategy.Adaptive">
                <operatorsFolderId>{E9283766-699F-4A05-8321-E9B8E30F497E}</operatorsFolderId>
              </selectFromChildren>
              <!--
                If the dependency item does not have children then use 
                the operator macro determined by the type specified in 
                a field on the dependency item. The field is identified 
                by the property "fieldId"
               -->
              <selectFromDataType type="Sitecore.Strategy.Adaptive.MacroSelectors.ItemBased.Operators.FromDataTypeOperatorSelector, Sitecore.Strategy.Adaptive">
                <dataTypeResolver type="Sitecore.Strategy.Adaptive.DataTypeResolvers.FieldBasedDataTypeResolver, Sitecore.Strategy.Adaptive">
                  <fieldId>{4961B3E3-2B51-4116-9E70-4FAA0EAAE63B}</fieldId>
                </dataTypeResolver>
              </selectFromDataType>
            </operatorSelectors>
            <valueSelectors hint="list:AddValueSelector">
              <!-- 
                If the dependency item has children then use a tree macro 
                that displays the children of the dependency item 
               -->
              <selectFromChildren type="Sitecore.Strategy.Adaptive.MacroSelectors.ItemBased.Values.FromChildrenValueSelector, Sitecore.Strategy.Adaptive" />
              <!--
                If the dependency item does not have children then use 
                the value macro determined by the type specified in 
                a field on the dependency item. The field is identified 
                by the property "fieldId"
               -->
              <selectFromDataType type="Sitecore.Strategy.Adaptive.MacroSelectors.ItemBased.Values.FromDataTypeValueSelector, Sitecore.Strategy.Adaptive">
                <dataTypeResolver type="Sitecore.Strategy.Adaptive.DataTypeResolvers.FieldBasedDataTypeResolver, Sitecore.Strategy.Adaptive">
                  <fieldId>{4961B3E3-2B51-4116-9E70-4FAA0EAAE63B}</fieldId>
                </dataTypeResolver>
              </selectFromDataType>
            </valueSelectors>
          </adaptiveTestWithTypeTemplate>
        </selectors>
      </macros>
    </adaptiveRules>
  </sitecore>
</configuration>
