<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <adaptiveManager defaultProvider="default">
      <providers>
        <clear/>
        <add name="default" type="Sitecore.Strategy.Adaptive.Providers.ConfigAdaptiveProvider, Sitecore.Strategy.Adaptive" />
      </providers>
    </adaptiveManager>
    <adaptiveRules>
      <macros type="Sitecore.Strategy.Adaptive.Config.MacroConfiguration, Sitecore.Strategy.Adaptive">
        <!-- 
          If no other configuration is found that determines which 
          macro selector to use for the AdaptiveTree macro use the
          specified type
         -->
        <defaultTreeSelector type="Sitecore.Strategy.Adaptive.MacroSelectors.ItemBased.Trees.DefaultTreeSelector, Sitecore.Strategy.Adaptive" />
        <!-- 
          This section defines the macros that should be used for 
          specific data types
         -->
        <selectors hint="list:AddMacroSelectorConfig">
          <boolean type="Sitecore.Strategy.Adaptive.Config.TypeBasedMacroSelectorConfig, Sitecore.Strategy.Adaptive">
            <typeName>System.Boolean</typeName>
            <operatorSelectors hint="list:AddOperatorSelector">
              <selectByName type="Sitecore.Strategy.Adaptive.MacroSelectors.TypeBased.MacroNameSelector, Sitecore.Strategy.Adaptive">
                <macroName>Operator</macroName>
              </selectByName>
            </operatorSelectors>
            <conditionSelector hint="list:AddConditionSelector">
              <dateTimeselector type="Sitecore.Strategy.Adaptive.ConditionSelectors.TypeBased.BooleanConditionSelector, Sitecore.Strategy.Adaptive" />
            </conditionSelector>
          </boolean>
          <dateTime type="Sitecore.Strategy.Adaptive.Config.TypeBasedMacroSelectorConfig, Sitecore.Strategy.Adaptive">
            <typeName>System.DateTime</typeName>
            <operatorSelectors hint="list:AddOperatorSelector">
              <selectByName type="Sitecore.Strategy.Adaptive.MacroSelectors.TypeBased.MacroNameSelector, Sitecore.Strategy.Adaptive">
                <macroName>Operator</macroName>
              </selectByName>
            </operatorSelectors>
            <valueSelectors hint="list:AddValueSelector">
              <selectByName type="Sitecore.Strategy.Adaptive.MacroSelectors.TypeBased.MacroNameSelector, Sitecore.Strategy.Adaptive">
                <macroName>DateTime</macroName>
              </selectByName>
            </valueSelectors>
            <conditionSelector hint="list:AddConditionSelector">
              <dateTimeselector type="Sitecore.Strategy.Adaptive.ConditionSelectors.TypeBased.DateTimeConditionSelector, Sitecore.Strategy.Adaptive" />
            </conditionSelector>
          </dateTime>
          <int32 type="Sitecore.Strategy.Adaptive.Config.TypeBasedMacroSelectorConfig, Sitecore.Strategy.Adaptive">
            <typeName>System.Int32</typeName>
            <operatorSelectors hint="list:AddOperatorSelector">
              <selectByName type="Sitecore.Strategy.Adaptive.MacroSelectors.TypeBased.MacroNameSelector, Sitecore.Strategy.Adaptive">
                <macroName>Operator</macroName>
              </selectByName>
            </operatorSelectors>
            <valueSelectors hint="list:AddValueSelector">
              <selectByName type="Sitecore.Strategy.Adaptive.MacroSelectors.TypeBased.MacroNameSelector, Sitecore.Strategy.Adaptive">
                <macroName>Integer</macroName>
              </selectByName>
            </valueSelectors>
            <conditionSelector hint="list:AddConditionSelector">
              <numericselector type="Sitecore.Strategy.Adaptive.ConditionSelectors.TypeBased.NumberConditionSelector, Sitecore.Strategy.Adaptive" />
            </conditionSelector>
          </int32>
          <string type="Sitecore.Strategy.Adaptive.Config.TypeBasedMacroSelectorConfig, Sitecore.Strategy.Adaptive">
            <typeName>System.String</typeName>
            <operatorSelectors hint="list:AddOperatorSelector">
              <selectByName type="Sitecore.Strategy.Adaptive.MacroSelectors.TypeBased.MacroNameSelector, Sitecore.Strategy.Adaptive">
                <macroName>StringOperator</macroName>
              </selectByName>
            </operatorSelectors>
            <conditionSelector hint="list:AddConditionSelector">
              <stringselector type="Sitecore.Strategy.Adaptive.ConditionSelectors.TypeBased.StringConditionSelector, Sitecore.Strategy.Adaptive" />
            </conditionSelector>
          </string>
        </selectors>
      </macros>
    </adaptiveRules>
  </sitecore>
</configuration>
